/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#ffdde1,#ee9ca7);
    min-height:100vh;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Loading Screen */
#loading-screen{
    position:fixed;
    inset:0;
    background:#ffb6c1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:22px;
    z-index:999;
    animation:fadeOut 2s ease forwards;
    animation-delay:2s;
}

#loading-screen h1{
    font-size:60px;
    animation:heartbeat 1s infinite;
}

@keyframes heartbeat{
    0%{transform:scale(1);}
    50%{transform:scale(1.2);}
    100%{transform:scale(1);}
}

@keyframes fadeOut{
    to{
        opacity:0;
        visibility:hidden;
    }
}

/* Password Box */
.container{
    width:90%;
    max-width:400px;
    background:white;
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 15px 35px rgba(0,0,0,.2);
}

h2{
    color:#ff4f81;
    margin-bottom:15px;
}

p{
    color:#666;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:14px;
    border:2px solid #ffc0cb;
    border-radius:12px;
    outline:none;
    text-align:center;
    font-size:16px;
}

button{
    margin-top:15px;
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:#ff4f81;
    color:white;
    font-size:17px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#ff2e6e;
}

#error{
    color:red;
    margin-top:12px;
    font-size:14px;
}

.hidden{
    display:none;
  }
